.input{
    
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    font-weight: bold;   
}

button{

	border: none;
	border-radius: 7px;
	cursor: pointer;
	color: black;
	overflow: hidden;
	
	position: relative;
    
}

.bts
{
    
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    font-weight: bold;   
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
}

.button-23 {
    
    width: 250px;
    height: 50px;
    background-color: transparent;
    border:2px solid rgb(141, 141, 148);
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 20px;
  }
  
  
  
  .button-23:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
  }
  
  .button-23:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
  }

.button-23:hover{
    background-color:rgba(28, 49, 41, 0.767); 
}